/* .row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.field {
  & input {
    line-height: 1.75;
    border: 1.5px solid var(--color-neutral-500);
    border-radius: var(--radius-xs);
    padding: 6px 12px;
    font-size: var(--text-base);
    text-transform: uppercase;
  }

  & input::placeholder {
    color: var(--color-neutral-400);
    font-family: inherit;
  }

  & input[disabled] {
    pointer-events: none;
    background-color: var(--color-neutral-100);
    border-color: var(--color-neutral-100);
    color: var(--color-neutral-500);
  }
} */

.profile-form-container {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
