.ql-container {
    height: unset;
    min-height: 24px;
    max-height: 57%;
    font-family: "Google Sans", sans-serif;
    color: var(--sidebar-primary) !important;
    overflow-y: auto;

    .ql-editor {
        height: 100%;
    }
}

.ql-editor.ql-blank::before {
        color: var(--sidebar-primary);
}
.ql-snow .ql-picker {
        color: var(--sidebar-primary);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}