<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

@if (isPrintPreview()) {
  <div [innerHTML]="previewHtml()" class="wrap-anywhere text-justify"></div>
} @else {
  <div id="toolbar" [class.hidden]="isReadOnly()">
    <!-- Add buttons as you would before -->
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-script" value="sub"></button>
    <button class="ql-script" value="super"></button>

    <!-- custom lock editor button -->
    <span class="float-end">
      <button
        type="button"
        aria-label="this button locks the editor"
        (click)="editorLocked.set(!editorLocked())"
      >
        @if (editorLocked()) {
          <ng-icon name="lucideLockOpen" />
        } @else {
          <ng-icon name="lucideLock" />
        }
      </button>
    </span>
  </div>

  <div #editor [class.editor-locked]="editorLocked()" [class.read-only]="isReadOnly()"></div>
}
