<!-- breadcrumb at the top -->
<nav hlmBreadcrumb>
  <ol hlmBreadcrumbList class="text-(--brand-accent-shade-1)">
    @for (directory of directories(); track $index) {
      <li hlmBreadcrumbItem>
        <button hlmBreadcrumbLink class="capitalize">{{ directory }}</button>
      </li>

      <!-- that is, if there still exists a next directory -->
      @if ($index + 1 !== directories().length) {
        <li hlmBreadcrumbSeparator></li>
      }
    }
  </ol>
</nav>

<!-- avoiding quick nesting by placing this here while serving my intention of spacing beneath the breadbrumb -->
<div class="mt-5"></div>

<section class="flex-center justify-between">
  <article>
    <nexus-spartan-h3>documents registry</nexus-spartan-h3>
    <nexus-spartan-p>
      Complete view of all documents across drafts, submissions and shared items.
    </nexus-spartan-p>
  </article>
  <button type="button" class="nexus-button flex-center">
    new document
    <ng-icon
      name="lucideChevronDown"
      class="relative top-px ml-1 size-3 transition duration-300 group-data-[state=open]:rotate-180"
    />
  </button>
</section>
<div>
  <ul>
    <li>
      <hlm-alert-dialog>
        <button id="edit-profile" brnAlertDialogTrigger>Show Dialog</button>
        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx" class="min-w-md">
          <hlm-alert-dialog-header>
            <nexus-spartan-h4>Choose what you desire</nexus-spartan-h4>
          </hlm-alert-dialog-header>

          <div class="flex-center gap-5 mt-3.5">
            <button
              class="flex-center flex-col gap-3.5 p-5 rounded-lg hover:bg-muted hover:border hover:border-muted-foreground"
              (click)="processSelection(ctx, 'template')"
            >
              <ng-icon name="lucideLayoutTemplate" class="text-2xl" />
              <nexus-spartan-p>Use a template</nexus-spartan-p>
            </button>
            <section id="file-upload" class="relative">
              <input type="file" accept=".pdf, .doc, .docx" title=" " class="absolute w-full h-full z-10 opacity-0" (change)="processSelection(ctx, 'upload')" />

              <button
                class="flex-center flex-col gap-3.5 p-5 rounded-lg hover:bg-muted hover:border hover:border-muted-foreground"
              >
                <ng-icon name="lucideUpload" class="text-2xl" />
                <nexus-spartan-p>Upload a document</nexus-spartan-p>
              </button>
            </section>
          </div>
        </hlm-alert-dialog-content>
      </hlm-alert-dialog>
    </li>
  </ul>
</div>

<hlm-separator class="my-4" />

<div class="flex-center gap-2.5" aria-label="document operations e.g. sort, filter, search etc.">
  <!-- search -->
  <div hlmInputGroup>
    <input
      type="text"
      name=""
      maxlength="50"
      placeholder="Search by title, reference number or subject..."
      autocorrect="off"
      hlmInputGroupInput
    />

    <div hlmInputGroupAddon align="inline-end">
      <ng-icon name="lucideSearch" />
    </div>
  </div>

  <!-- sort -->
  <hlm-menubar>
    <button type="button" [hlmMenubarTrigger]="sortOptions">
      <ng-icon name="lucideArrowDownUp" />
      <span class="capitalize ml-2.5">sort</span>
    </button>
  </hlm-menubar>
  <ng-template #sortOptions>
    <hlm-dropdown-menu sideOffset="2.5">
      <button hlmDropdownMenuRadio checked>
        <hlm-dropdown-menu-radio-indicator />
        Name
      </button>
      <button hlmDropdownMenuRadio>
        <hlm-dropdown-menu-radio-indicator />
        Date
      </button>
      <button hlmDropdownMenuRadio>
        <hlm-dropdown-menu-radio-indicator />
        Type
      </button>
      <hlm-dropdown-menu-separator />
      <button hlmDropdownMenuRadio checked>
        <hlm-dropdown-menu-radio-indicator />
        Ascending
      </button>
      <button hlmDropdownMenuRadio>
        <hlm-dropdown-menu-radio-indicator />
        Descending
      </button>
    </hlm-dropdown-menu>
  </ng-template>

  <!-- view -->
  <hlm-menubar>
    <button type="button" [hlmMenubarTrigger]="viewOptions">
      <ng-icon name="hugeGridView" />
      <span class="capitalize ml-2.5">view</span>
    </button>
  </hlm-menubar>
  <ng-template #viewOptions>
    <hlm-dropdown-menu sideOffset="2.5">
      <button hlmDropdownMenuRadio checked>
        <hlm-dropdown-menu-radio-indicator />
        List
      </button>
      <button hlmDropdownMenuRadio [hlmMenubarTrigger]="iconViewOptions">
        Icons
        <hlm-dropdown-menu-item-sub-indicator />
      </button>
    </hlm-dropdown-menu>
  </ng-template>
  <ng-template #iconViewOptions>
    <hlm-dropdown-menu-sub>
      <button hlmDropdownMenuItem>Large</button>
      <button hlmDropdownMenuItem>Medium</button>
      <button hlmDropdownMenuItem>Small</button>
    </hlm-dropdown-menu-sub>
  </ng-template>
</div>

<hlm-separator class="my-4" />
@for (docs of documents(); track $index) {
} @empty {
  <nexus-empty-state [stateData]="emptyStateDataAsFistTime" />
}
