<!-- breadcrumb at the top -->
<nav hlmBreadcrumb>
  <ol hlmBreadcrumbList class="text-(--brand-accent-shade-1)">
    @for (directory of directories(); track $index) {
      <li hlmBreadcrumbItem>
        <button hlmBreadcrumbLink class="capitalize">{{ directory }}</button>
      </li>

      <!-- that is, if there still exists a next directory -->
      @if ($index + 1 !== directories().length) {
        <li hlmBreadcrumbSeparator></li>
      }
    }
  </ol>
</nav>

<!-- avoiding quick nesting by placing this here while serving my intention of spacing beneath the breadbrumb -->
<div class="mt-5"></div>

<section class="flex-center justify-between">
  <article>
    <nexus-spartan-h3>Directives Log</nexus-spartan-h3>
    <nexus-spartan-p> This is the registry of all issued directives. </nexus-spartan-p>
  </article>
  <button
    type="button"
    class="nexus-button flex-center"
    hlmBtn
    [hlmAlertDialogTriggerFor]="issueNewDirectiveDialog"
  >
    <ng-icon name="lucideGavel" />
    issue new directive
  </button>
</section>

<hlm-separator class="my-4" />

<!-- alert dialog to issue new directive -->
<hlm-alert-dialog #issueNewDirectiveDialog>
  <hlm-alert-dialog-content
    *hlmAlertDialogPortal="let ctx"
    class="min-w-xl border-t-4 border-nexus-gold shadow-2xl"
  >
    <hlm-alert-dialog-header class="text-left">
      <nexus-spartan-h4>Issue New Directive</nexus-spartan-h4>
    </hlm-alert-dialog-header>

    <hlm-separator />

    <form class="mt-2">
      <div class="row">
        <div class="field in-dashboard">
          <label for="directiveSubject">Directive Subject</label>
          <input
            type="text"
            placeholder="Operational Status Update: Sector 7"
            class="w-full custom-input"
            id="directiveSubject"
          />
        </div>
      </div>

      <div class="row flex-center gap-3.5">
        <div class="field in-dashboard">
          <label>Registry Volume</label>

          <brn-select
            id="priorityLevelSelect"
            class="inline-block"
            placeholder="Select an option"
            (valueChange)="onPriorityLevelSelect($event)"
          >
            <hlm-select-trigger class="w-64">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option value="operations" class="cursor-pointer">Operations</hlm-option>
              <hlm-option value="official" class="cursor-pointer">Official</hlm-option>
            </hlm-select-content>
          </brn-select>
        </div>

        <div class="field in-dashboard">
          <label for="priorityLevelSelect">Priority Level</label>

          <brn-select
            id="priorityLevelSelect"
            class="inline-block"
            placeholder="Select an option"
            (valueChange)="onPriorityLevelSelect($event)"
          >
            <hlm-select-trigger class="w-64">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option value="urgent" class="cursor-pointer">Urgent Action Required</hlm-option>
              <hlm-option value="standard" class="cursor-pointer">Regular</hlm-option>
            </hlm-select-content>
          </brn-select>
        </div>
      </div>

      <div class="row">
        <div class="field in-dashboard">
          <label for="directiveAddressee">Addressed To</label>

          <brn-select
            id="directiveAddressee"
            class="inline-block"
            placeholder="Select a staff"
            (valueChange)="onPriorityLevelSelect($event)"
          >
            <hlm-select-trigger class="w-131.25">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              @for (staff of unitStaffers(); track $index) {
                <hlm-option [value]="staff.id" class="cursor-pointer">{{
                  staff.firstName + ' ' + staff.lastName
                }}</hlm-option>
              }
            </hlm-select-content>
          </brn-select>
        </div>
      </div>

      <div class="row">
        <div class="field in-dashboard">
          <label>Official Instruction</label>

          <textarea
            hlmTextarea
            placeholder="Provide the full scope of the directive..."
            class="max-h-52"
          ></textarea>
        </div>
      </div>
    </form>

    <hlm-alert-dialog-footer class="flex justify-between items-center">
      <button (click)="ctx.close()" class="nexus-button outlined">Cancel</button>

      <button class="nexus-button flex-center">
        Transmit Directive
        <ng-icon name="lucideSend" class="text-lg"></ng-icon>
      </button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>

<hlm-alert-dialog #directiveSuccessfullyRegistered>
  <hlm-alert-dialog-content *hlmAlertDialogPortal="let ctx">
    @if (broadcastDirectiveDetail()) {
      <div class="flex-center justify-center">
        <ng-icon name="saxTickCircleBold" size="2rem" />
      </div>
      <nexus-spartan-h3 class="text-center">directive successfully registered</nexus-spartan-h3>
      <nexus-spartan-p class="text-center">
        Directive
        <span class="font-medium uppercase">
          {{ broadcastDirectiveDetail()?.id }}
        </span>
        has been broadcast to
        {{ broadcastDirectiveDetail()!.recipients[0].firstName }}.</nexus-spartan-p
      >

      <section class="p-3 border rounded-xs">
        <article>
          <nexus-spartan-muted class="uppercase">directive heading</nexus-spartan-muted>
          <nexus-spartan-p>{{ broadcastDirectiveDetail()?.heading }}</nexus-spartan-p>
        </article>

        <hlm-separator class="my-2.5" />

        <article>
          <nexus-spartan-muted class="uppercase">urgent priority</nexus-spartan-muted>
          <nexus-spartan-p>{{ broadcastDirectiveDetail()?.heading }}</nexus-spartan-p>
        </article>
      </section>

      <button class="nexus-button outlined" (click)="ctx.close()">Noted!</button>
    }
  </hlm-alert-dialog-content>
</hlm-alert-dialog>

<table mat-table [dataSource]="dataSource">
  <!-- Ref Number Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Ref Number</th>
    <td mat-cell *matCellDef="let directive">
      <button type="button" (click)="seeDirectiveFullDetails(directive.id)">
        {{ directive.id }}
      </button>
    </td>
  </ng-container>

  <!-- Heading Column -->
  <ng-container matColumnDef="heading">
    <th mat-header-cell *matHeaderCellDef>Directive Heading</th>
    <td mat-cell *matCellDef="let directive">{{ directive.heading }}</td>
  </ng-container>

  <!-- Recipients Column -->
  <ng-container matColumnDef="recipients">
    <th mat-header-cell *matHeaderCellDef>Recipients</th>
    <td mat-cell *matCellDef="let directive">
      <div>
        @for (staff of directive.recipients; track $index) {
          <brn-avatar>
            <img
              hlmAvatarImage
              [src]="staff.profilePicture ?? 'ui-logo.png'"
              alt="@spartan-ui logo"
              class="grayscale"
            />
            <span hlmAvatarFallback>RG</span>
          </brn-avatar>
        } @empty {
          <img
            hlmAvatarImage
            src="ui-logo.png"
            alt="@spartan-ui logo"
            class="grayscale h-7 rounded-full"
          />
        }
      </div>
    </td>
  </ng-container>

  <!-- Compliance Column -->
  <ng-container matColumnDef="compliance">
    <th mat-header-cell *matHeaderCellDef>Compliance</th>
    <td mat-cell *matCellDef="let directive">
      @if (directive.compliance.seen === directive.compliance.acknowledged) {
        <div class="text-(--brand-success) flex-center gap-0.5">
          <ng-icon name="hugeTickDouble02" size="1.2rem" />
          <span>Compliance Verified</span>
        </div>
      } @else {
        <div>
          <nexus-spartan-muted>{{ directive.compliance.seen }} seen</nexus-spartan-muted>
          <nexus-spartan-muted
            >{{ directive.compliance.acknowledged }} acknowledged</nexus-spartan-muted
          >
        </div>
      }
    </td>
  </ng-container>

  <!-- Timstamp Column -->
  <ng-container matColumnDef="modifiedAt">
    <th mat-header-cell *matHeaderCellDef>Timestamp</th>
    <td mat-cell *matCellDef="let directive">{{ directive.modifiedAt }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef="let directive">Actions</th>
    <td mat-cell>
      <ng-icon name="lucideEye" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of directives issued"
></mat-paginator>

<nexus-side-modal>
  <header class="px-1.5 shrink-0">
    <button
      class="block w-fit ml-auto text-neutral-500 hover:text-neutral-950"
      type="button"
      (click)="closeSideNav()"
    >
      <ng-icon name="lucideXCircle" size="1.2rem" />
    </button>
  </header>
  <nexus-directive-detail
    class="flex flex-col flex-1"
    [directiveId]="directiveIdToFetchDetailsOn()"
  />
</nexus-side-modal>
