<nexus-onboarding-nav-bar />
<div class="relative" [class.hidden]="!loading()">
    <p class="opacity-0">.</p>
    <nexus-line-loader />
</div>

@if (currentFrame() === 1) {
  <div
    class="h-[70dvh] relative fade-in-premium"
    [class.sweep-exit]="isExiting()"
  >
    <div
      class="w-full px-5 text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
    >
      <h1 class="font-bold text-(--brand-primary) nexus-sans-font text-4xl">
        Credential Recovery Portal
      </h1>

      <p class="font-medium text-(--brand-text) nexus-sans-font mt-2.5 text-lg">
        Securely restore access to your Nexus-Fons Registry account.
      </p>

      <p class="text-(--brand-accent) nexus-serif-font pt-2.5 text-sm">
        To proceed, please verify your identity and establish a new authentication credential.
      </p>

      <button class="nexus-button mt-5" (click)="nextStep()">
        begin recovery process
      </button>
    </div>
  </div>
}

@if (currentFrame() === 2) {
  <div class="px-12 max-sm:px-6 mt-10 mx-auto text-center pb-5 fade-in-premium">

    <p class="text-[10px] uppercase tracking-widest text-neutral-400 mt-3">
      {{ isFirstTimeSetup() ? 'Account Activation' : 'Password Reset' }}
    </p>

    <p class="text-2xl capitalize mb-5">
      {{ isFirstTimeSetup() ? 'set your account password' : 'reset your password' }}
    </p>

    <form [formGroup]="passwordForm" class="max-w-md mx-auto text-left mt-6">

      <div class="field mb-5">
        <label>New Password</label>
        <div class="input-field px-2.5 py-1.5">
          <input type="password" formControlName="password" />
        </div>
      </div>

      <div class="field mb-5">
        <label>Confirm Password</label>
        <div class="input-field px-2.5 py-1.5">
          <input type="password" formControlName="confirmPassword" />
        </div>
      </div>

      <p class="text-sm text-neutral-500">
        Ensure your password meets institutional security requirements.
      </p>

      <div class="mt-8 text-center">
        <button
          type="button"
          class="nexus-button px-10"
          [disabled]="passwordForm.invalid || loading()"
          (click)="submitPassword()"
        >
          proceed
        </button>
      </div>
    </form>
  </div>
}

@if (currentFrame() === 3) {
  <div class="profile-form-container text-center p-10 fade-in-premium">
    
    <h1 class="text-2xl font-bold mb-3">
      Account Secured
    </h1>

    <p class="text-neutral-500 mb-6">
      Your password has been successfully {{ isFirstTimeSetup() ? 'created' : 'updated' }}.
    </p>

    <button class="nexus-button" (click)="goToLogin()">
      proceed to login
    </button>
  </div>
}