<div #workspaceRoot [class.server-rendered-only]="requiresServerRenderedPrint()">
  @if (workspaceError(); as error) {
    <nexus-page-error
      [error]="error"
      (retry)="reloadWorkspace()"
      (goBack)="goBack()"
    />
  } @else {
    @if (workspaceLoading()) {
      <div class="relative">
        <p class="opacity-0">.</p>
        <nexus-line-loader />
      </div>
    }

    @if (workspaceContext()) {
      <nexus-toolbar
        (previewRequested)="previewDocument()"
        (printRequested)="printCorrespondence()"
        (exportRequested)="exportCorrespondence()"
        (dispatchRequested)="submitDocument()"
      />

      <div class="flex flex-start relative">
        <nexus-composition-context-panel
          [closed]="sidebarClosed()"
          (closedChange)="sidebarClosed.set($event)"
        />

        <div class="relative min-w-0 flex-1">
          <nexus-paper-controls #paperControls />

          <nexus-print-preview
            [isPreviewing]="paperControls.isPreviewing()"
            [canvasTransform]="paperControls.canvasTransform()"
            [canExitPreview]="paperControls.canExitPreview()"
            (exit)="paperControls.exitPreview()"
          >
            @if (memoVm(); as memo) {
              <nexus-memo-template [correspondence]="memo" />
            }

            <nexus-memo-body-editor />
          </nexus-print-preview>
        </div>

        <nexus-document-inspector
          [closed]="inspectorClosed()"
          (closedChange)="inspectorClosed.set($event)"
        />
      </div>
    }
  }
</div>
