<header>
  <p nata-muted>
    {{ directiveDetail().id }}
  </p>

  <h3 nata-h3>{{ directiveDetail().subject }}</h3>
  <hlm-separator />
</header>

<main class="flex-1 overflow-y-auto">
  <section>
    <header class="flex-center gap-1.5">
      <ng-icon name="lucideScrollText" />
      <p nata-p class="uppercase tracking-wide">instruction text</p>
    </header>

    <article class="p-2.5">
      {{ directiveDetail().instruction }}
    </article>
  </section>

  <hlm-separator />

  <section>
    <header class="flex-center gap-1.5">
      <ng-icon name="hugeSignature" />
      <p nata-p class="uppercase tracking-wide">Acknowledgement history</p>
    </header>

    <section class="p-2.5">
      @for (staff of directiveDetail().addressedTo; track $index) {
        <div class="flex-center gap-2.5">
          <span class="text-(--brand-success)">
            <ng-icon name="saxTickCircleBold" />
          </span>
          <article>
            <p nata-p>
              {{ staff }}
            </p>
          </article>
        </div>
      }
    </section>
  </section>

  <hlm-separator />

  <section>
    <header class="flex-center gap-1.5">
      <ng-icon name="hugeTimer01" />
      <p nata-p class="uppercase tracking-wide"> pending Acknowledgement </p>
    </header>
  </section>
</main>

<footer class="flex-center gap-2.5 mt-auto">
  <button type="button" class="nexus-button secondary outlined">Close directive</button>
  <button type="button" class="nexus-button w-full" hlmDialogTriggerFor="nudgeUnacknowledgeStaffMembers">Nudge pending Acknowledgements</button>
</footer>

<!-- <hlm-alert-dialog #nudgeUnacknowledgeStaffMembers>
  <hlm-alert-dialog-content >
    @if (broadcastDirectiveDetail()) {
      <div class="flex-center justify-center">
        <ng-icon name="saxTickCircleBold" size="2rem" />
      </div>
      <h3 nata-h3 class="text-center">nudge successfully transmitted</h3>
      <p nata-p class="text-center">
        A priority notification has been dispatched to <span>12 personnel</span> who have not yet acknowledged directive 
        <span class="font-medium uppercase">
          {{ broadcastDirectiveDetail()?.id }}
        </span>
        </p>

        <button class="nexus-button outlined" (click)="ctx.close()">Noted!</button>
    }
  </hlm-alert-dialog-content>
</hlm-alert-dialog> -->
