aside {
  height: calc(100dvh - 80px);
  display: block;

  .section-descriptor {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: var(--text-xs);
  }

  form.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
}



main {
  --paper-color: var(--background);

  overflow-y: auto;
  display: block;
  width: 100%;
  height: 100dvh;
  background-color: color-mix(in oklch, var(--paper-color) 90%, oklch(0.98 0 0));
  padding-block: 50px;

  & #paper {
    --dynamic-shadow: oklch(from var(--paper-color) calc(l - 0.1) c h);

    /* Standard A4 Aspect Ratio */
    aspect-ratio: 1 / 1.4142;

    /* Fluid sizing */
    width: 100%;
    max-width: 800px;

    margin-inline: auto;
    /* width: 80%; */
    height: 80dvh;
    padding: 2.5%;
    background-color: var(--paper-color);
    box-shadow: 0 20px 40px -10px var(--dynamic-shadow);
    border: 1px solid oklch(from var(--paper-color) calc(l + 0.05) c h);
  }
}
