aside {
  height: calc(100dvh - 66.8px);
}

main {
  --paper-color: var(--background);

  overflow: auto;
  display: block;
  width: 100%;
  height: 100dvh;
  background-color: color-mix(in oklch, var(--paper-color) 90%, oklch(0.98 0 0));
  padding-block: 50px;

  & #paper {
    --dynamic-shadow: oklch(from var(--paper-color) calc(l - 0.1) c h);

    margin-inline: auto;
    width: 80%;
    height: 80dvh;
    background-color: var(--paper-color);
    box-shadow: 0 20px 40px -10px var(--dynamic-shadow);
    border: 1px solid oklch(from var(--paper-color) calc(l + 0.05) c h);
  }
}
