<!-- TODO: replace 'soft-fade' with a skeleton loading screen -->
<div class="px-4 soft-fade">
  <section class="flex justify-between items-start mb-10">
    <div class="space-y-1">
      <!-- <h1 class="text-4xl nexus-serif-font font-bold text-(--brand-text) soft-fade capitalize"> -->
      <nexus-spartan-h2> Hi, {{ staff()?.firstName }} </nexus-spartan-h2>
      @if (staff()?.designation?.title) {
        <nexus-spartan-p class="uppercase">{{ staff()?.designation?.title }}</nexus-spartan-p>
      }
      <!-- <p
        class="text-xs font-semibold uppercase tracking-widest text-(--brand-accent-shade-1) soft-fade delay-100"
      >
        {{ staff.role }}
      </p> -->
    </div>

    <!-- @if (staff().efficiencyScore) {
      <div class="flex items-center gap-4 bg-card text-card-foreground py-4 px-8 rounded-xs">
        <div
          class="relative flex items-center justify-center w-12 h-12 rounded-full border-4 border-nexus-gold/20"
        >
          <span class="text-sm font-bold text-nexus-indigo">{{ staff().efficiencyScore }}%</span>
        </div>
        <div class="flex flex-col">
          <span class="text-[10px] uppercase tracking-tighter text-gray-400 font-bold"
            >Productivity Pulse</span
          >
          <span class="text-xs text-green-600 font-medium">↑ 2% from last week</span>
        </div>
      </div>
    } -->
  </section>

  <nexus-spartan-h1>welcome!</nexus-spartan-h1>
</div>
