.card {
  aspect-ratio: 1.875/1;
  width: 100%;
  max-width: 420px;
  margin-inline: auto;
  border-radius: 2px;
  padding: 5% 8.5%;
  background-color: var(--color-white);
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.6s ease;
  transform-style: preserve-3d;
  will-change: transform;

  &:hover {
    /* Slight lift, minor scale, and a subtle skew */
    transform: translateY(-8px) scale(1.02) skewX(-1deg) rotateY(2deg);

    /* Deepen the shadow to match the 'lift' */
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    &#front {
      margin-inline: auto 0;
    }

    &#back {
      margin-inline: 0 auto;
    }
  }
}
