<section class="h-max">
  <article class="flex-center justify-between mb-3.5">
    <nexus-spartan-large class="capitalize">{{
      documentToShowFullDetails().title
    }}</nexus-spartan-large>

    <button
      type="button"
      class="rounded-full p-1 flex-center justify-center hover:bg-(--muted-foreground)/20"
      (click)="closeDocPane()"
    >
      <ng-icon name="lucideX" />
    </button>
  </article>

  <mat-tab-group>
    <!-- Document Details Tab -->
    <mat-tab label="Details">
      <section class="pt-5">
        <!-- direction -->
        <article class="mb-2">
          <span class="descriptor">recipient category</span>
          <p class="capitalize">
            {{ documentToShowFullDetails().correspondence.direction }}
          </p>
        </article>

        @if (
          documentToShowFullDetails().correspondence.direction === 'external' &&
          documentToShowFullDetails().correspondence.recipientUnitId
        ) {
          <article class="mb-2">
            <span class="descriptor">recipient unit</span>
            <p class="capitalize">
              {{ recipientUnit()?.code?.toUpperCase() ?? '--' }}
            </p>
          </article>
        } @else {
          <!-- recipient -->
          <article class="mb-2">
            <span class="descriptor">addressed to</span>
            <ul>
              @for (addresee of addressedTo(); track $index) {
                <li>
                  <p class="capitalize">The {{ addresee }}</p>
                </li>
              }
            </ul>
          </article>
        }

        <!-- type -->
        <article class="mb-2">
          <span class="descriptor">correspondence type</span>
          <p>
            {{ docType()?.name ?? '--' }}
          </p>
        </article>

        <!-- correspondence subject -->
        <article class="mb-2">
          <span class="descriptor">correspondence subject</span>
          <p>
            {{ corrSubject()?.name ?? '--' }}
          </p>
        </article>

        <!-- business function -->
        <article class="mb-2">
          <span class="descriptor">business function</span>
          <p>
            {{ businessFuntion()?.name ?? '--' }}
          </p>
        </article>

        <!-- created at -->
        <article class="mb-2">
          <span class="descriptor">created at</span>
          <p>
            {{ utilService.formatDateAsReadableString(documentToShowFullDetails().createdAt) }}
          </p>
        </article>

        <!-- last updated at -->
        <article class="mb-2">
          <span class="descriptor">last modified at</span>
          <p>
            @if (documentToShowFullDetails().updatedAt; as updatedDate) {
              {{ utilService.formatDateAsReadableString(updatedDate) }}
            } @else {
              <i>not experienced modification</i>
            }
          </p>
        </article>
      </section>
    </mat-tab>

    <!-- Document Activity Tab -->
    <mat-tab label="Activity">
      <section class="pt-5">
        <article>
          <p class="section-descriptor">lifecycle history</p>
          @if (documentToShowFullDetails().currentVersion; as version) {
            <ul>
              <li>
                <p>
                  Correspondence is currently in
                  {{ version.lifecycle.currentState.toUpperCase() }} state, entered this state at
                  {{ utilService.formatDateAsReadableString(version.lifecycle.stateEnteredAt) }}.
                </p>
              </li>
            </ul>

            @if (version.lifecycle.currentState.toLowerCase() === 'draft') {
              <p class="text-xs font-medium mt-5">
                Correspondence hasn't been submited yet for approval.
              </p>
            }
          } @else {
            <p class="text-xs font-medium text-(--brand-accent-shade-2)">
              Correspondence has no content!
            </p>
          }
        </article>

        <article class="mt-3">
          <p class="section-descriptor">minutes history</p>

          @if (minuteServiceInOperation()) {
            <hlm-spinner class="text-base md:text-lg" />
          } @else if(!minuteServiceInOperation() && minutes()) {
            <ul>
            @for (minute of minutes(); track $index) {
                <li>
                <p>
                    {{ resolveStaffDesignationTitle(minute.authorStaffId) }} minuted "{{ minute.content }}"
                </p>
                </li>
            }
            </ul>
          }@else {
            <p class="text-xs font-medium text-(--brand-accent-shade-2)">
              No minute exists for record
            </p>
          }
        </article>
      </section>
    </mat-tab>
  </mat-tab-group>
</section>
